.h1 {
    font-family: 'Times New Roman', Times, serif;
}

.p {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 5px;
    /*tamaño de letra*/
    font-weight: bold;
    /*grosor de la letra*/
    font-style: normal;
    /*normal, italic, oblique*/
    font-variant: normal;
    /*letra mayuscula son el mismo tamaño que las minusculas(normal, small-caps)*/
}

h2 {
    /*alinea los textos*/
    text-align: center;
    /*la sangrilla de del texto*/
    text-indent: 3em;
    /*subrayado en el texto none/underline/overline/line-through/blink*/
    text-decoration: underline;
    /*convertir en mayuscula o minuscula el texto   (capitalize/uppercase/lowercase/none)*/
    text-transform: none;
}

h3 {
    /*define la distancia de separacion de un letras)*/
    letter-spacing: 0.2em;
    /*define la distancia de separacion por palabras)*/
    word-spacing: 0ex;
    /*especifica la altura de las lineas*/
    line-height: 1em;
    /*define el comportamiento de de espacios en blaco de elementos(normal/pre/nowrap/pre-wrap/pre-line)*/
    white-space: nowrap
}